<div class="row">
  <%= render "hnccontact" %>
</div>

<% if current_user.admin %>
   <div class="btn btn-success">
        <b><%= link_to 'New Member', new_hnccontact_path %></b>
   </div>
<% end %>   

