<h3 class="text-center"><strong>Parish Life Commission</strong></h3>
<br>


<p>The PLC is responsible for organizing the following Events (programs):


<li> --> PLC Breakfast Series:  French Toast Breakfast; RCIA Breakfast; Pancake Breakfast.html_safe </li>
<li> --> PLC Dinner Series:  Mardi Gras Dinner; Lenten Dinner; Pasta Dinner </li>
<li> --> PLC Summer Activities Series:  Coffee in the Courtyard; Ice Cream Social; Wine Tastings </li>
<li> --> PLC New Parishioner Reception Series:  February; June; </li>
<li> --> PLC (HCC) Social Networking Series:  tbd: Quarterly </li>
<li> --> Special events: throughout the year as needed</p> </li>

<p>The Parish Life Commission typically comprises 15 to 20 active members, and 2 co-chairs (this includes 1 vice chair role). New members, each serving a three year term, are selected annually. Being a part of the PLC means working with a team of dedicated parishioners with whom you spend time, laugh while preparing and serving food, planning events, decorating, providing program support and getting to know each other.</p> 
<br>
<p>PLC Overview
Team Leaders:
Chair - Rob Hendricks
Vice Chair - Margaret McBrady</p>
<br>
<p>Monthly Meeting Time:
The Parish Life Commission meets in the Rectory, on the 1st Monday (of each month), from 6:30pm to 7:30pm.</p>
<br>

<p>PLC’s Goals:
To increase and promote fellowship amongst parishioners, especially new parishioners, so they feel welcomed, and truly a part of the Holy Name Cathedral family.

</p>