<!--<span class="alert alert-info"><sup>*</sup>Click on vendor name to view Address</span><br><br>
-->
<div class="row">
  <%= render "vendor" %>
</div>  

<div class="btn btn-primary">
  <b><%= link_to 'New Vendor', new_vendor_path %></b>
</div>  
