<%= link_to 'New Image', new_gallery_path %>
<%= will_paginate @galleries %>
<div class="container-fluid">

<div class="row">
	  <%= render @galleries %>

</div>  
</div>          
        
 
  
         
